.example-header {
    min-height: 64px;
}

.example-header h3 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.example-header hr {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.movieImg {
    height: 300px;
}

.mat-grid-tile .mat-grid-tile-footer {
    background-color: transparent;
    background: transparent;
}

.mat-grid-tile .mat-grid-tile-footer .movie-btn {
    margin: 2px;
}

.mat-grid-tile {
    box-shadow: 280ms cubic-bezier(.4,0,.2,1);
}

.loadingContainer {
    text-align: center;
    padding-left: 45%;
    padding-top: 15%;
}