<navi-bar></navi-bar>
<br />
<div class="container">
    <div class="example-header">
        <h3>Movies</h3>
        <hr >
    </div>
    <div class="loadingContainer" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <mat-grid-list cols="5" rowHeight="300px" gutterSize="15px">
        <div *ngFor="let movie of movies">
            <mat-grid-tile class="grid-tile" style="cursor: pointer;" (click)="info(movie)">
                <mat-card>
                    <img class="movieImg" [src]="movie?.imgURL" alt="{{movie?.imgTitle}}" />
                </mat-card>
            </mat-grid-tile>
        </div>   
    </mat-grid-list>
</div>
<br />
